<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Setting up your diet</title>
    <link rel="icon" href="images/diet3.svg" type="image/icon type">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <nav class="navbar">
        <div onclick="openNav()" class="dmenu">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </nav>

    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="close closebtn" onclick="closeNav()">&times;</a>
        <div class="group">
            <a class="home-icon" href="../index.html"><img src="../images/home.svg" alt="home-icon"></a>
            <a href="#gluten">Gluten Free Diet Explained</a>
            <a href="#paleo">Paleio Diet Explained</a>
            <a href="#lowcarb">Low Carb Diet Explained</a>
            <a href="#inter">Intermittent Fasting</a>
            <a href="#vegan">Vegan Diet Explained</a>
            <a href="#keto">Ketogenic Diet</a>
        </div>
    </div>
    <section class="back">
        <div id="left">
            <div class="group">
                <a class="home-icon" href="../index.html"><img src="../images/home.svg" alt="home-icon"></a>
                <a href="#gluten">Gluten Free Diet Explained</a>
                <a href="#paleo">Paleio Diet Explained</a>
                <a href="#lowcarb">Low Carb Diet Explained</a>
                <a href="#inter">Intermittent Fasting</a>
                <a href="#vegan">Vegan Diet Explained</a>
                <a href="#keto">Ketogenic Diet</a>
            </div>
        </div>
        <div id="right">
            <div class="content-box">
                <div class="content-heading">
                    <img src="images/diet2.svg" alt="">
                    <h1>Common Dieting Trends</h1>
                    <img src="images/diet3.svg" alt="">
                </div>
                <div id="gluten" class="inside-content">
                    <div class="content-heading">
                        <img src="images/gluten.svg" alt="">
                        <h2>Gluten Free Diet Explained</h2>
                    </div>
                    <div class="dark">
                        <h3>Gluten Explained</h3>
                        <p>
                            Gluten is a naturally occuring composite of two protein (gliadin and glutein) that is mostly found in rye, wheat and barely products.
                            <br>It's the substance which make dow stretchy and resilient(quickly returns to its usual shape) and it's also used as thickening agent in other foods because gluten makes big products more elastic it's often found in things
                            like pizza dough, pastas bread and crackers.
                            <br><span class="imp">Gluten molecules aren't broken down by heat or directly digested &rarr; can be problematic for people with celiac disease(an autoimmune disorder(autoimmune disease&rarr; are disease in which body's immune system attacks healthy cells.) that's triggered when you eat gluten(It is a protein in wheat, barley etc))</span>                            br and some people will get headaches, stomach cramps, diarrhea and generally feel bloated. This affect only those people who has celian disease it's estimated that between 0.3-1.2% of the population has this disease.
                            <br>Now what about healthy people without celiac disease should they also avoid gluten. Unfortunately the answer is it depends. There are people with gluten sensitivity who suffer from similiar symptoms which means you get
                            symtoms similiar to celiac but you don't have the antibodies or intestinal damage. However, the vast majority of people don't need to follow a gluten free diet.
                        </p>
                    </div>
                    <div class="dark">
                        <h3>The problem with gluten free diets</h3>
                        <p>
                            &rarr; A gluten free diet itself offers no special health benefits.
                            <br>&rarr; Most gluten free foods tend to be less nutritious, lower in protein, higher in fat and cost more than double.
                            <br>The people who follow gluten free diet have micronutrient deficiencies simply because it's more difficult for them to follow a well balanced diet. It's not impossible but it's difficult.
                            <br>&rarr; Gluten free does not help with weight loss unless you follow calorie deficit.
                            <br>
                            <br>Gluten free diet is not completely bad because there are a few studies that indicate that over time diets high in gluten can cause damage to the intestinal cells and non-celiac people. The problem is researchers still don't
                            know why this is and the evidence isn't clearly linked to gluten as a trigger.
                            <br><span class="imp">If you want to play it safe, limit your gluten intake to a few meals a week.</span>
                        </p>
                    </div>
                </div>
                <div id="paleo" class="inside-content">
                    <div class="content-heading">
                        <h2>Paleio Diet Explained</h2>
                        <img src="images/paleo.svg" alt="">
                    </div>
                    <p>
                        <br>&rarr; Eat the same food as our hunter-gather ancestor supposedly ate ( fruits, vegetables, meat, seafood and nuts)
                        <br>&rarr; Avoid processed food, dairy products, potatoes and grains. <br> Many people will tell you that it can help you with weight loss cravings, sleep and even allergies.
                        <br>Advocates of this diet will argue that the average human back then was tall muscular, agile(able to move quickly), athletic and incredibly versatile(many uses) whereas the average person now is over weight, out of shape, stressed
                        out and unhappy. So, we should go back to our roots and bring back the cave men.
                        <br>
                        <br>The problem with this though is that we now know from an excavation(digging bones) and bone analysis that people back then were nearly as tall and healthy as paleon advocate make them out to be. They also didn't have all the
                        abundance of food like we have today. So, it was basically impossible to become overweight for them.
                        <br>Many aspects of paleo dieting are very healthy.
                        <br>Eating lean meat and seafood will provide you with a lot of protein which is very important to build muscle and maintain muscle mass.
                        <br>It excludes processed meats which can pose a health risk when consumed in great amount. It basically excludes any type of candy and processed sugars which usually have little nutritional value and also excludes trans fat.
                    </p>
                    <div class="dark">
                        <h3>Problem with paleo</h3>
                        <p>
                            &rarr; It forbids quite a few food that offer great health benefits. Many nutritious foods are forbidden such as:
                            <br>&zigrarr;<span class="imp">Whole grains-</span> these are an excellent source of qualit carbs that have been shown to reduce inflammation in the body and decrease the risk of cardiovascular disease.
                            <br>&zigrarr;<span class="imp">Dairy Products-</span> provides calcium, protein and vitamin D.
                            <br>&zigrarr;<span class="imp">Some legumes-</span> good source of plant based protein and have been shown to degrees total and LDL cholestrol levels.
                            <br>All of these you cannot eat as a true paleo dieter. They claim that whole grains damage the intestines and legumes contain antinutrient that interfere with nutrient absorption.
                            <br>Problem with these claims is however there's little scientific evidence to back them up that most of these problem aren't really problems, antinutrients in legumes for example aren't dangerous at normal intake levels and
                            as a part of a properly balanced diet and can also be easily reduced by cooking them.
                        </p>
                    </div>
                    <p>
                        <span class="imp">
                                    Bottom line: the foods that are recommended in the diet are pretty healthy as long as you stick to lean and unprocessed meat.
                                    <br>There is nothing wrong with the foods paleo recommends. The problem come with the foods that should be avoided. If you want to follow 
                                    the paleo diet, go with less drastic approach and still include some form of non-paleo when needed.
                        </span>
                        <br>Diets we talked about so far they increase in popularity last few years.
                    </p>
                </div>
                <div id="lowcarb" class="inside-content">
                    <div class="content-heading">
                        <h2>Low Carb Diet Explained</h2>
                        <img src="images/carbohydrates.svg" alt="">
                    </div>
                    <p>
                        These have been around for decades.
                    </p>
                    <div class="dark">
                        <h3>Low carb diet explained</h3>
                        <p>
                            &rarr; Low in carbohydrates.
                            <br>&rarr; Compensate with more protein or fat.
                            <br>&rarr; Carbs are a non essential macronutrients which means our body doesn't needs them to survive like protein & fat.
                            <br>- In theory there is nothing wrong with low carb but there is difference between simply surviving and feeling great.
                        </p>
                    </div>
                    <p>Advocates of low carb dieting will often tell you that reducing your carb intake make sense because eating carb produces insulin which in turn triggers rapit fat storage.
                        <br>So, the key to a healthy diet they say is to eat as few carbohydrates as possible.
                        <br>So, this can be true for simple carbs like high sugar foods and candy. But when it comes to quality complex carbs than these claims are simple false.
                    </p>
                    <div class="dark">
                        <h3>Problem with low carb diet</h3>
                        <p>
                            &rarr; Much of the critique against carbs holds true only for simple carbs.
                            <br>&rarr; In fact if you regularly exercise then not consuming carbs will hurt your strenght level and therefore your muscle grains.
                            <br>Trust me you'll feel a lot weaker and your workouts will become very difficult if you don't provide your body with the fuel in the form of comple carbs.
                            <br>What this means is that if you want to gain muscle then low carb diets are not omptimal.
                        </p>
                    </div>
                    <h4>Does low carb makes sense when you want to lose weight?</h4>
                    <p>
                        Answer - it depends
                        <br>&rarr; If you are completely sedentary(you never exercise) it makes sense to cut carb because you don't need the energy. Simple because carbs are primarily energetic. Somewhere around 100 grams per day whould be enough.
                        <br>&rarr; Also people who consume primarily simple carbs will benefit from eating less of them, simply because anything you eat instead of junk food is probably going to be nutritious.
                        <br>&rarr; A low-carb diet with fiber rich types have significant impact on you fullness whereas dietiry fat don't.
                        <br>&rarr; Different people react differently to more/less carb intake so it can make sense to try it out at least once.
                    </p>
                </div>
                <div id="inter" class="inside-content">
                    <div class="content-heading">
                        <h2>Intermittent Fasting</h2>
                        <img src="images/fasting.svg" alt="">
                    </div>
                    <p>
                        The average person probably eats food from around 8 am to may be 9 pm. You eat for 13 hours & eat nothing for about 11 hours.
                        <br>Intermittent fasting has you fast for 16 hours and eat for 8. some even go far as 20 hours fasting & 4 hours eating.
                    </p>
                    <div class="dark">
                        <h3>What happens when you do this?</h3>
                        <p>
                            Advocate of intermittent fasting will tell you that it lower the insuling levels, increase testosterone, help with cellular repair and give expression. These change are so small that they won't make a noticebale difference.
                        </p>
                        <div class="light">
                            <h4>Research on intermittent fasting</h4>
                            <p>
                                Meta study concluded that intermittent fasting is not superior to traditional dieting. By over 40 studies, scientist found no significant benefits related to body composition , fat loss, insulin sensitivity, or hormones.
                                <br>Intermittent fasting make sense for
                                <br>&rarr; Anyone who doesn't have the time or discipline to eat 5 or 6 meals per day and prefers to eat large amounts of food within a small time frame. If taken to extreme and as you eating large amounts of food with
                                in a few hours.
                                <br>&rarr; Anyone who has trouble counting calories. - Since you consume most of your food in just few hours it will be easier to monitor calorie intake & stick to a calorie deficit.
                            </p>
                        </div>
                    </div>
                </div>
                <div id="vegan" class="inside-content">
                    <div class="content-heading">
                        <h2>Vegan Diet Explained</h2>
                        <img src="images/diet2.svg" alt="">
                    </div>
                    <p>
                        Some people believe that vegans cannot build muscle and will really suffer from protein and vitamin deficiencies, others think that veganism is the best thing, since the invention of the internet & they have to convert everyone they see to become vegan.
                        <br><span class="imp">So who is right?</span>
                    </p>
                    <div class="dark">
                        <h3>Veganism Explained</h3>
                        <p>
                            Vegans do not consume animal products and by products.
                            <br>yes, you can build muscle on a vegan diet, but it's more difficult.
                            <br>The main reason to this is protein.
                            <br>The main difference between vegan and traditional diets is protein intake. Vegan replaces high protien products with low protein plant based products. Beans, grains, nuts are very healthy foods and generally quality sources
                            of protein as part of balanced diet. You run into problems though when you use them as your single source of protein. Why? because plant based proteins come with two drawbacks. <br>&rarr;First, not all of them are complete
                            proteins which means that they don't contain all the nine essential amino acids or don't have sufficient quantities of them to meet the body's needs. As we know amino acids are the building blocks of protein and tissues in
                            the body including muscle tissues. The body needs 21 amino acids to stay alive and nine of them must be obtained from foods. Unfortunately nuts, seeds and legumes are incomplete proteins that don't contain all nine essential
                            amino acids.
                            <br>But fortunately there is a very simple solution for all this if you're a vegan don't rely on these as protein sources. Combine your protein sources to get all the essential amino acids. Protein that in combination make
                            a complete amino acids profile are know as complementary proteins. <br>Examples &zigrarr; rice & beans <br>&zigrarr; spinach salads with almonds.
                            <br>&rarr; Second problem with plant based proteins is that some sources aren't absorbed as well as others. This means eating a 100g of Hemp(powder) protein isn't the same as getting 100g of rice or pea protein. What this means
                            is that as a vegan who wants to build muscle have to make sure you're getting enough protein that it will absorb well and rich in amino acids.
                        </p>
                    </div>
                    <p>
                        Get the magority of your daily protein from wheat, rice, oats, peas, beans, potato, almonds, peanuts, walnuts, quinoa & buck wheat, also combine them to get all 9 amino acids.
                    </p>
                    <div class="dark">
                        <h3>Veganism & Vitamin deficiencies</h3>
                        <p>
                            deficiencies are possible. The most common ones are deficiencies in Vitamin D and B-12, Iron, Calcium, Zinc & Omega 3 fatty acids. As to get same amount of calcium from vegetables as from dairy products you will have to consume multiple servings instead
                            of just one. The same goes for Zinc. Supplementing for Vitamin D, B-12 and Omega 3 fatty acids is actually fairly common amongst experienced vegans.
                        </p>
                    </div>
                    <p class="imp">
                        Bottom line: You can build muscle & strength as a vegan if you know what you're doing. Closely monitor your foods and protein sources & invest more time forwards meal planning to avoid deficiencies.
                    </p>
                </div>
                <div id="keto" class="inside-content">
                    <div class="content-heading">
                        <h2>Ketogenic Diet</h2>
                        <img src="images/ketogenic-diet.svg" alt="">
                    </div>
                    <p>
                        The ketogenic diet acts in a very specific way and your body will under go some pretty big changes when you follow it.
                    </p>
                    <div class="dark">
                        <h3>Ketogenic Diet</h3>
                        <p>
                            <span class="imp">High fat, low carb diet that sends your body into keto-state called ketosis.
                            <br>Ketosis happend when you force your body to use fats rather than carbs for body functions.</span>
                            <br>Normally the carb contained food are converted into glucose which is then transported around the body and it is particularly important in fueling brain function. If there aren't enough carbs in your diet, liver converts
                            fat into fatty acids and ketone bodies. These ketone bodies can be used by the brain just like glucose & replace it as an energy source.
                            <br>To reach ketosis most people need to consume less than 100 grams of carbs per day, often less than 50g.
                        </p>
                    </div>
                    <div class="dark">
                        <h3>The pros & cons of Keto</h3>
                        <div class="light">
                            <h4>Keto benefit #1: Junk food (eliminates)</h4>
                            <p>
                                - cutting carbs eliminates most sugary junk food.
                                <br>- Eating less junk food also indirectly creates a calorie deficit.
                                <br>- Fewer calories means more weight loss which if definitely a '+' point.
                            </p>
                        </div>
                        <div class="light">
                            <h4>#2: Insulin sensitivity (better for people with insulin sensitivity)</h4>
                            <p>
                                Insulin regulates blood sugar &rarr; carbs cause a bigger spike in insulin than fat and protein.
                                <br>Eating meal high in carb increases amount of sugar in blood and it can have negative side-effects.
                            </p>
                        </div>
                        <div class="light">
                            <h4>#3: Stabalizes hunger</h4>
                            <p>
                                High sugar food is digested rapidly by the body because of its lack of fiber. Substituting high sugar food with healthy fats slow down digestion. This can reduce hunger & eliminate cravings when you are dieting.
                            </p>
                        </div>
                    </div>
                    <div class="dark">
                        <h3>Keto drawbacks</h3>
                        <div class="light">
                            <h4>#1: Easier to over eat</h4>
                            <p>
                                Fat is more calorie dense than carbs.
                                <br>1g of fat has 9 calories.
                                <br>1g of carbs has only 4
                            </p>
                        </div>
                        <div class="light">
                            <h4>#2: Training performance</h4>
                            <p>
                                Carbs are body's preferred energy source of high intensity performance. That's because carbs can broken down to provide energy even when there's no oxygen available this process is called anaerobic glycolysis.
                                <br><br><span class="imp">Anaerobic generally is not possible with fat</span>
                                <br>This isn't a problem when you only do low to medium intensity exercise such as walking or mile jogging but is you regularly perform high intensity exercise such as heavy weight lifting or longer aerobic exercise you
                                will literally run into problems
                            </p>
                        </div>
                    </div>
                    <div class="dark">
                        <h3>If keto right for you?</h3>
                        <p>
                            It is good for people who rarely exercise. If you function well with no major energy no hunger swings on a high carb diet you will probably run into problems with keto.
                            <br>If you feel tired & weak on a high carb diet, make sure to give keto a shot. Chances are you're more sedentary and may be a little overweight or have bad insulin sensitivity.
                        </p>
                    </div>

                </div>
                <div class="foot">
                    <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>

                </div>
            </div>
    </section>

    <script src="../script.js"></script>
</body>

</html>