<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adjusting your diet to build muscle and fat loss </title>
    <link rel="icon" href="images/diet3.svg" type="image/icon type">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <nav class="navbar">
        <div onclick="openNav()" class="dmenu">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </nav>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="close closebtn" onclick="closeNav()">&times;</a>
        <div class="group">
            <a class="home-icon" href="../index.html"><img src="../images/home.svg" alt="home-icon"></a>
        </div>
        <div class="group">
            <div class="box">
                <a href="#buildm">Diet to build muscle</a>
                <a href="#weightl">Diet for weight loss</a>
                <a href="#cheatmd">- Cheat Meals & Cheat Days</a>
                <a href="#fatlp">- Fat loss plateaus</a>
                <a href="#postshake">The perfect post-workout shake</a>
            </div>
        </div>
    </div>
    <section class="back">
        <div id="left">
            <div class="group">
                <a class="home-icon" href="../index.html"><img src="../images/home.svg" alt="home-icon"></a>
            </div>
            <div class="group">
                <div class="box">
                    <a href="#buildm">Diet to build muscle</a>
                    <a href="#weightl">Diet for weight loss</a>
                    <a href="#cheatmd">- Cheat Meals & Cheat Days</a>
                    <a href="#fatlp">- Fat loss plateaus</a>
                    <a href="#postshake">The perfect post-workout shake</a>
                </div>
            </div>
        </div>
        <div id="right">
            <div class="content-box">
                <div class="content-heading">
                    <h1>Adjusting your diet to build muscle and fat loss</h1>
                    <img src="images/diet3.svg" alt="">
                </div>
                <div id="buildm" class="inside-content">
                    <div class="content-heading">
                        <h2>Adjusting your diet to build muscle</h2>
                        <img src="images/muscle.svg" alt="">
                    </div>
                    <p>
                        You probably hearf that most body builder and athletes work in two phases called bulking and cutting. First you focus on building strength and size while consuming more calories than your body burn throughout the day. And than you try to get rid of any
                        extra fat by cutting calories while maintaining lean muscle mass.
                    </p>
                    <div class="dark">
                        <h3>Why do you need a bulking diet?</h3>
                        <p>
                            The logic behind this is simple, in order to force your body to grow more muscle tissue and in a very little time we need to lift heavy and consume extra calories. <br> Basically all successfully bulking guides rely on these
                            two factors. <br> <span class="imp"> If you are lifting light and not consuming enough calories and even hitting gym 5 times a week won't get you results.
                            <br> Complete begginers are the exception to this rule because they can often lose weight and build muscle since there body react extemely well to the new training stimulus and build muscle faster than experienced lifter.</span>
                            <br> The more muscle you have though the more difficult it becomes to add more without any extra calories.
                        </p>
                    </div>
                    <div class="dark">
                        <h3>The ultimate bulking diet</h3>
                        <p>
                            1&rarr; Calculate your TDEE.
                            <br>2&rarr; Add a certain percentage to your TDEE.
                            <br>3&rarr; Reach this calorie count by eating (mostly) healthy foods.
                        </p>
                        <div class="light">
                            <h4>Adding to your TDEE</h4>
                            <p>
                                &zigrarr; Some recommend 10-15% additional calories to avoid any unnecessary fat in the process.
                                <br>&zigrarr; Other may recommend 20% additional calories because 10-15% is too low and your metabolism will most likely speed up and erase such a tiny surplus.
                                <br> Trainer say to eat 500 calories than your TDEE which is around 20 of additional calories.
                                <br>
                                <br><span class="imp">How large your daily bulking calorie count has to be comes down to how your metabolism react to more food.</span>
                                <br>If you have normal metabolism and feel that a small surplus is enough than 250 extra calories a day is enough.
                            </p>
                        </div>
                    </div>
                </div>
                <div id="weightl" class="inside-content">
                    <div class="content-heading">
                        <h2>Adjusting your diet for weight loss.</h2>
                        <img src="images/weight-loss.svg" alt="">
                    </div>
                    <p>
                        One thing that you have to understand is that - there is difference between <span class="imp">weight loss</span> and <span class="imp">fat loss</span>.
                        <br>
                        <br> If you kept your calorie intake a half of your TDEE you would definitely lose a lot of weight fast. However much of that loss will also consist of lean muscle mass which you don't want to happen.
                        <br>Now science behind weight loss is pretty straight forward.
                        <br><span class="imp">Weight loss = calories in v/s calories out.</span>
                        <br>This means that how much you eat will be a lot more important than what you eat.
                        <br>
                        <br> Unfortunately, the rule for losing body fat is a little more complicated
                        <br><span class="imp">Fat loss = negative calorie balance + right balance of macro nutrients</span>
                    </p>
                    <div class="dark">
                        <h3>Creating a calorie deficit</h3>
                        <p>
                            1&rarr; Calculate your TDEE
                            <br>2&rarr; Subtract a certain percentage from your TDEE
                            <br>3&rarr; Reach this calorie count by eating (mostly) healthy foods.
                            <br>
                            <br> small &zigrarr; 10-15% below TDEE
                            <br>moderate &zigrarr; 20-25% below TDEE
                            <br>large &zigrarr; 25% below TDEE
                            <br> Thus, if your goal is to lose body fat fast a moderate deficit of 20% below your TDEE will probably be your best option.
                            <br>However, for someone who has a fast metabolism a smaller deficit will most likely show similiar results.
                        </p>
                    </div>
                    <div class="dark">
                        <h3>Maintain high protein intake</h3>
                        <p>
                            Once you are calorie deficit territory you want to keep your diet to be high in protein. <br> Study after study has proven that losing fat without losing muscle is all about consuming enough protein every day.
                            <br> Sweet spot lies between 0.8 and 1g of protein per pound of body weight per day.
                            <br>If your diet involves a very large calorie deficit and you are already very lean you might even want to go with 1.2 gram of protein (although usually 1 gram should be enough for beginner)
                            <br>Make sure to reach them by eating quality protein rich foods.
                            <br>- Supplements can make your life easier but don't use them as your one and only sorce of protein.
                        </p>
                    </div>
                    <div class="dark">
                        <h3>Calorie cycling</h3>
                        <p>
                            <span class="imp">When you eat more calories on workout days and fewer on rest days.</span>
                            <br>The logic behind this is to maximise strength and recovery on the day you exercise while providing your body with fewer calories when less energy is expected.
                            <br>It's not a proven method but the psychological benefit of eating more on workout can make dieting more tolerable.
                        </p>
                    </div>

                    <div id="cheatmd" class="dark">
                        <h3>Cheat Meals & Cheat Days</h3>
                        <div class="dark">
                            <div class="content-heading">
                                <h4>Cheat Meals</h4>
                                <img src="images/cheat-meal.svg" alt="">
                            </div>
                            <p>
                                Let's assume you've been eating clean for most of the week, consuming healthy foods like chicken breast, fish, oatmeal, rice and veggies. And now you're wondering if it would be okay to sneak in that chocolate bar or cheese burger at the end of the week
                                without compromising your results.
                                <br>This is what typically known as a cheat meal. A small amount of junk food that you include in your diet as a reward for the hard word you've been putting in.
                            </p>
                            <div class="light">
                                <h5>Do cheat meals have any negative effect on your overall diet progress?
                                    <br> Is having some high sugar, high fat food here and there going to have any negative effect on your muscle building or fat burning progress
                                </h5>
                                <p>No, as you keep your calories and macros in check.
                                    <br>80-90% of your diet should come from "clean" and healthy foods. 10-20% can come from what ever foods you like as long as it fits your daily intake calories and protein, carbs and fats.
                                    <br>Stick to the basics of correct dieting and "cheat meals" are not going to magically cause you to get fat or lose muscles.
                                </p>
                            </div>
                        </div>
                        <div class="dark">
                            <div class="content-heading">
                                <h4>Cheat Days</h4>
                                <img src="images/fast-food.svg" alt="">
                            </div>
                            <p>
                                Cheat days are entire days we don't watch our calories and macro intake and just eat whatever you like.
                                <br>Unlike cheat meals, cheat days can have a drastic impact on your overall diet success.
                                <br>Example &rarr; 500 calorie dificit * 6 days = 3000 calories deficit below maintenace
                                <br>If you now go ahead with your cheat days on the seventh day.
                                <br>&rarr; Any calories you consume above your maintenace on your cheat days will couteract your weekly deficit.
                                <br>If you eat 1500 calories above maintenace on your cheat day that would already cut the weekly deficit in half.
                                <br>Now imagine going all out and eating 2000 or 3000 calories of maintenance that way you basically lose all the progress you made throughout the week.
                            </p>
                        </div>
                    </div>
                    <div id="fatlp" class="dark">
                        <h3>Breaking through Fat loss plateaus</h3>
                        <p>
                            During first few weeks fat practically falls of your body but than all of the sudden the scale doesn't move any more.
                            <br>Than you think did your diet suddenly stoped working or is there something wrong with you.
                        </p>
                        <p class="imp">
                            Thing to keep in mind.
                            <br> That changes in weight don't always mean changes in body fat %.
                        </p>
                        <p>
                            Weight loss can happen because many number of things changes not only your body fat % but also your muscle mass, your glycogen level the food you carry in your stomach or the things which changes the fasted is the water.
                            <br><span class="imp">Nothing brings weight up and down rather than water retention.</span>
                            <br>For example if you eat a heavy meal of carbs and sodium your body will retain more water than usual which add any where from one to three pounds to your body weight.
                            <br>Women are affected by this even more than men because of mensuration.
                            <br><span class="imp">So, what do you have to do to get rid of unwanted water retention in most cases eating less sodium and drinking more water will do the trick.</span>
                            <br>Why drinking more water you ask because your body retains water only because it thinks it's not getting enough on regular basis and has to store some for later use.
                        </p>
                        <div class="light">
                            <h4>Common reason for weight loss plateus.</h4>
                            <p>
                                Okay, but what if water is not the problem and you hit a plateau because of other reasons.
                                <br>Then there are a few things you can do to start losing fat again. First you have to keep in your mind that the more fat you loose the harder it will get. The leaner you become the longer it takes to lose fat in a healthy
                                way and without sacrificing muscle mass.
                                <br><span class="imp">For example if you have a body fat % of 25 to 30% you can easily lose two to three pounds of fat per week.</span>
                                <br>At first your body will still have enough calories for overall health and muscle maintenance but if you are at or under 10% for men and 10-15% for women things get a lot complicated.
                                <br>So just slowing of your rate of fat loss is normal and to be expected.
                                <br>Now the nest thing to keep in ming is that the lighter you become the fewer calories your body needs. This means the daily aount of calories that used to create a deficit might be enoug to maintain your weight after
                                few weeks. This is why you probably want to recalculate your calorie needs every so often.
                                <span class="imp">Now another aspect of dieting is that your metabolism also slows down as you lose weight to reatin energy.</span> This diefinitely sucks because it means you would have to eat fewer and fewer calories
                                to counteract this.
                                <br>However, lowering your calorie intake more and more is not always sustainable and thats why you should <span class="imp">take diet break regularly.</span>
                            </p>
                        </div>
                        <p>
                            Now there is one more factor which is often responsible for weight loss plateaus and that is hidden calories.
                        </p>
                        <div class="light">
                            <h4>Hidden Calorie</h4>
                            <p>
                                Meaning people consuming more calories than they think. That;s why should track your calories correctly.
                                <br>Calories can be hidden in many places, not tracking butter oil or sauces is another common mistake. Also check your alcohol intake as it can add up to a quite few calories. And the truth is that 200 or 300 additional
                                calories every day can break your diet and stop your progress completely.
                            </p>
                        </div>
                    </div>
                </div>
                <div id="postshake" class="inside-content">
                    <div class="content-heading">
                        <img src="images/protein-shake.svg" alt="">
                        <h2>The perfect post-workout shake</h2>
                    </div>
                    <p>
                        &rarr; <span class="imp">Do you even need a post workout shake?</span>
                        <br><span class="imp">The short answer is not really.</span>
                        <br>As long as you meet your daily calorie and nutritional requirements through your normal diet, a post workout protein shake will have little to no impact on your muscle.
                        <br><span class="imp">So, is a post workout shake is completely useless?</span>
                        <br>Even though the research suggest that there is no such thing as a 30 minute anabolic window. It still make sense to take in quality protein and carbs one to two hours after your training.
                        <br>If you don't have time to prepare a complete meal this is where a post workout comes in play.
                        <br><br> <span class="imp">
                            Post workout shake
                            <br>carb&rarr; 40-50g of instant oats.
                            <br>protein&rarr; 30+g of whey protein.
                            <br>optional&rarr; 1 banana/peanut butter
                            </span>
                    </p>
                </div>
                <div class="foot">
                    <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
                </div>
            </div>
        </div>
    </section>

    <script src="../script.js"></script>
</body>

</html>