<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Healthy dieting</title>
    <link rel="icon" href="images/diet.svg" type="image/icon type">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <nav class="navbar">
        <div onclick="openNav()" class="dmenu">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </nav>

    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="close closebtn" onclick="closeNav()">&times;</a>
        <div class="group">
            <a class="home-icon" href="../index.html"><img src="../images/home.svg" alt="home-icon"></a>
            <a href="#dietmyth">Dieting myths</a>
            <a href="#carbbad">- Carbs are bad for you</a>
            <a href="#fatbad">- Fat is bad for you</a>
            <a href="#probad">- Protein is fat for you</a>
            <a href="#egg">- Eating eggs raises cholestrol</a>
            <a href="#salt">- Avoid salt at all cost</a>
            <a href="#several">- Eating several small meals throughout the day help you to lose weight.</a>
            <a href="#dietfood">- Diet foods lead to weight loss</a>
            <a href="#redmeat">- Eating red meat causes cancer</a>
        </div>
    </div>
    <section class="back">
        <div id="left">
            <div class="group">
                <a class="home-icon" href="../index.html"><img src="../images/home.svg" alt="home-icon"></a>
                <a href="#dietmyth">Dieting myths</a>
                <a href="#carbbad">- Carbs are bad for you</a>
                <a href="#fatbad">- Fat is bad for you</a>
                <a href="#probad">- Protein is fat for you</a>
                <a href="#egg">- Eating eggs raises cholestrol</a>
                <a href="#salt">- Avoid salt at all cost</a>
                <a href="#several">- Eating several small meals throughout the day help you to lose weight.</a>
                <a href="#dietfood">- Diet foods lead to weight loss</a>
                <a href="#redmeat">- Eating red meat causes cancer</a>
            </div>
        </div>
        <div id="right">
            <div class="content-box">
                <div class="content-heading">
                    <img src="images/diet.svg" alt="">
                    <h1>Healthy Dieting</h1>
                </div>
                <div id="dietmyth" class="inside-content">
                    <h2>Dieting Myths</h2>
                    <div id="carbbad" class="dark">
                        <h3>Myth #1</h3>
                        <div class="light">
                            <div class="content-heading">
                                <img src="images/carbohydrates.svg" alt="">
                                <h4>Carbs are bad for you</h4>
                            </div>
                            <p>
                                Insulin itself is not bad, actually it is required to store glucose which is the sugar in your blood and to use it for energy. So, than what is the anti carb propaganda all about.
                            </p>
                            <h4>The truth about carbs.</h4>
                            <p>Well there are some evidence that carbs can cause insulin insenstivity, this is pretty much only the case for people with pre-diabetes that are at the same time over eating simple high sugar carbs.
                                <br>If you don't exercise and your diet consists mostly of these than they will negatively affect your health.
                                <br>However, if you follow a well balanced diet and exercise regularly then quality carbs will actually be necessary to fuel your workout.
                                <br>Cutting quality carbs from the diet means restricting there energy source and limiting there potential for muscle growth.
                            </p>
                        </div>
                    </div>
                    <div id="fatbad" class="dark">
                        <h3>Myth #2</h3>
                        <div class="light">
                            <div class="content-heading">
                                <img src="images/trans-fat.svg" alt="">
                                <h4>Fat is bad for you</h4>
                            </div>
                            <p>
                                Many people believe that if you eat fat you gain fat automatically, that's why for many decades the traditional way to lose weight was to follow a low fat diet. Today we know however that eating food doesn't make you gain fat unless it leads to a long
                                term calorie surplus
                            </p>
                            <h4>The truth about fat</h4>
                            <p>Cutting all fat from your diet can be dangerous, since your body needs it for hormone production low fat diet can decrease your testosterone production. So, make sure to get omega 3 & omega 6 fatty acids. <br> Many low fat
                                products contain more calories than there normal counter parts, which really defeats the purpose of cutting fat from diet to lose weight.
                                <br> <span class="imp">Then there is also one idea that saturated fat causes health problems.</span> Now there is some truth to this because based on what know today large amounts of saturated fats might be problematic
                                to the heart. However, there is no evidence that saturated fats are the direct cause of heart problem. For now it makes sense to limit saturated fats to a certain amount while sticking to quality saturated fats like coconumt
                                oil or high qualtiy meat. <br><span class="imp">Trans fat is only kind of fat that is directly linked to health problem.</span>
                            </p>
                        </div>
                    </div>
                    <div id="probad" class="dark">
                        <h3>Myth #3</h3>
                        <div class="light">
                            <div class="content-heading">
                                <img src="images/protein.svg" alt="">
                                <h4>Protein is fat for you</h4>
                            </div>
                            <p>
                                Even protein has sometimes been made out to cause a number of health problems most notable kidney damage.

                            </p>
                            <h4>The truth about protein</h4>
                            <p>
                                <span class="imp">Healthy adults who exercise have no problems with consuming high amounts of protein both in regards  to kidney problems or other health problems.</span>
                                <br>If you have an existing renal disease or existing kidney problems than limit your protein intake. Another scary story placed at the feet of a high protein diet is the risk of bone density problems and the development
                                of bones diseases such as osteoporosis.
                                <br>This is based on the theory that by consuming more protein our bones will excrete more calcium which is required to sustain bone density.
                                <br>Elderly individuals at risk of bone density issue and osteoporosis should aim to consume more protein.
                            </p>
                            <h4>The truth about protein shake</h4>
                            <p>
                                Whole foods proteins from animal sources provide the highest quality of protein which we can consume foods such as poultry meat, fish, eggs and milk should always be a component of a balanced and nutritionally optimally diet for those who exercise.
                                <br>These sources provide complete proteins with most of essential amino acids required to boost muscle protein sysnthesis and counteract degradation.
                                <br><span class="imp">Supplementations is a good way to prevent deficiencies for vegan or vegetarians.</span>
                                <br>Secondly food is not always the most efficient, easiest or even preferred to get a dose of high quality protein. Often people don't have time to cook, sometimes you just want a quick and simple solution to boost protein
                                sysnthesis and a Supplementation shake can be the best way to do this.
                                <br>Lastly whole food sources do come with additional factor namely saturated fats and cholestrol. When following a strict diet, getting the correct amount of protein ofthen requires people to get protein from supplements
                                which are basically pure protein.
                                <br>When protein shake will be used well then there will be no harm.
                            </p>
                        </div>
                    </div>
                    <div id="egg" class="dark">
                        <h3>Myth #4</h3>
                        <div class="light">
                            <div class="content-heading">
                                <img src="images/egg.svg" alt="">
                                <h4>Eating eggs raises cholestrol</h4>
                            </div>
                            <p>
                                Eggs have been demonized becaused the yolk which are chock full of nutrients contain high level of cholestrol.
                                <br>Eatting food high in cholestrol does not directly translate to increased cholestrol levels in your body.

                            </p>
                            <h4>The truth about eggs</h4>
                            <p>
                                In clinical trials, no association was found between eggs and cardiovascular disease (in healthy adults), except maybe in some people with specific resistant conditions such as diabetes for hypoglycemia.
                                <br><span class="imp">Here's a short summary of what studies have shown</span>
                                <br>In healthy people eating even 6 eggs a day doesn't seems to adversly affect blood level. Some studies not no change in HDL and LDL cholestrol and some not very small increase.
                                <br>In healthy or overweight people eggs consumption might affect blood levels of cholestrol and lipo protein but we need still more evidence.
                                <br><span class="imp">Bottom line: Eggs are great source of proteins, fats and other nutrients.</span>
                            </p>
                        </div>
                    </div>
                    <div id="salt" class="dark">
                        <h3>Myth #5</h3>
                        <div class="light">
                            <div class="content-heading">
                                <h4>Avoid salt at all cost</h4>
                                <img src="images/salt-shaker.svg" alt="">
                            </div>
                            <h4>The truth about salt</h4>
                            <p>
                                Salt (sodium) is an essential mineral; its consumption is critical to our health. The problem is that the average person consumes double the recommended intake. So quite a bit more than the tolerable amount will upper intake. <br>So,this
                                myth is rooted ina grain of truth. <br>It is true that people with salt sensitive hypertension should avoid too much salt because it raises there blood pressure. In most people there appeats to be little to no association
                                between salt consumption and hypertension (high blood pressure). We have to understand that excess sodium may not raise blood pressure but it is associated with other health issue such as kidney damage and an increased
                                rick of cognitive decline.
                                <br><span class="imp">Bottom line: Salth isn't strongly associated with high blood pressure, except in people with salt sensitive hypertension. Still, anything in excess is harmfull and sodium is no exception.</span>
                            </p>

                        </div>
                    </div>
                    <div id="several" class="dark">
                        <h3>myth #6</h3>
                        <div class="light">
                            <div class="content-heading">
                                <h4>Eating several small meals throughout the day help you to lose weight.</h4>
                                <img src="images/meal.svg" alt="">
                            </div>
                            <p>
                                The theory is that if you keep eating small amounts of food to your fire. The fire being your metabolism you will keep it going strongly and burn more calories overall.
                            </p>
                            <h4>The truth about meal frequency</h4>
                            <p>
                                The meal frequency doesn't really matter because food intake has only a minor effect on metabolism.
                                <br>Since foods including those with caffeine may slightly and temporarily increase metabolism but the effect it to small to make a big difference.
                                <br>Eating frequently may have benefits for some people but it is incorrect that this affects the amount of calories we burn.
                                <br>What most affects your basal metabolic rate (BMR) the rate at which your body burns calories at rest is body composition and size. More muscle and bigger bodies generally burn more calories overall. So what we should
                                instead watch is our calories and build up your muscles instead.
                                <br><span class="imp">A pound of fat free tissue burns around 4000 calories a day and pound of fat burns only 2-3 calories.</span> Andwhile that difference may not sound like a lot it will certainly help over time.
                                <br>Remember that when you lose pounds, part of that weight is muscle too. That's why strength training is even more important when you're trying to lose weight.
                            </p>
                        </div>
                    </div>
                    <div id="dietfood" class="dark">
                        <h3>Myth #7</h3>
                        <div class="light">
                            <div class="content-heading">
                                <h4>Diet foods lead to weight loss</h4>
                                <img src="images/weight-loss.svg" alt="">
                            </div>
                            <p>
                                The theory is simple certain diet foods make losing weight a lot easier because these foods are generally labelled a low fat & low carb and artificially sweet.
                            </p>
                            <h4>The truth about diet foods</h4>
                            <p>
                                Low fat and low carb don't mean low calories. Studies have shown that participants ate upto 50% more of foods that the researchers falsly labelled "low fat" than they did of the same exact foods with real labelled. Why because most people assume diet
                                foods contain up to 20% fewer calories than there regular counterparts and most people don't bother to actually check the nutrition label to see if there actually correct.
                                <br>When you're tempted by snack food that's labelled "light" or "low fat" check the nutrition label first. Look at how many calories are in seving and than compare that number with the calories in the regular version of
                                that product, often times they're either the same or even less. Also never tell yourself that it's okay to eat more chocolate because you chose diet coke over regular coke.
                            </p>
                        </div>
                    </div>
                    <div id="redmeat" class="dark">
                        <h3>Myth #8</h3>
                        <div class="light">
                            <div class="content-heading">
                                <h4>Eating red meat causes cancer</h4>
                                <img src="images/steak.svg" alt="">
                            </div>
                            <p>
                                Recently WHO published a report where certain animal products including red meat were labelled as possible causes of cancer as you can imagine this led to an outcry(protest) in fitness industry where many people rely on meat as quality protein source.
                            </p>
                            <h4>The truth about red meat</h4>
                            <p>
                                Almost everything we eat has the potential to be involved in cancer development. for e.g. anti oxidants can both promote and hinder cancer growth but the effect is usually too small to notice, some compounds found that smoked meats have been found to
                                damage cells which is the first step to potential cancer.
                                <br>Current evidence suggest that red meat can cause a cancer risk for people with poor diet and lifestyle choices. What this means is that people who are over weight and don't exercise will be under a lot greater risk
                                of getting cancer from meat because various compounds produced in meat during cooking and processing have possible cancerous effects but there aggressiveness depends on the preparation method, these harmful compounds are
                                not inheret to the meat but are side effects from treating it with fire.
                                <br><span class="imp">Red meat sources &rarr; beef, lamb & mutton, pork, goats.</span>
                            </p>
                            <h4>Now what you can do to reduce these harmful compounds?</h4>
                            <p>
                                1&rarr; stop smoking, set up a balanced diet with more vegetable and start exercising. This alone will reduce the risk of cancer from eating meat and in general be a lot more healthy when it comes to meat preparation. studies have shown that marinating
                                meat before cooking it reduces harmful agents in the meat. Also preparing meat under higher temp such as grilling and directly above the fire seems to create more harmful agenst than baking or boiling.
                                <br><span class="imp">Bottom line: Fears about cancer and red meat are probably true but exaggerated making healthy lifestyle choices such as staying at healthy weight, exercising and not smoking is a lot important than micro managing your meat intake. Avoid so much processed or smoked meat.</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="foot">
                    <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>

                </div>
            </div>
        </div>
    </section>

    <script src="../script.js"></script>
</body>

</html>