<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Micronutrients</title>
    <link rel="icon" href="images/micro-nutrients.svg" type="image/icon type">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <nav class="navbar">
        <div onclick="openNav()" class="dmenu">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </nav>

    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="close closebtn" onclick="closeNav()">&times;</a>
        <div class="group">
            <a class="home-icon" href="../index.html"><img src="../images/home.svg" alt="home-icon"></a>
            <a href="#vita">Vitamin A</a>
            <a href="#vitb">Vitamin B</a>
            <a href="#vitc">Vitamin C</a>
            <a href="#vitd">Vitamin D</a>
            <a href="#vite">Vitamin E</a>
            <a href="#vitk">Vitamin K</a>
            <a href="#cal">Calcium</a>
            <a href="#mag">Magnesium</a>
            <a href="#phos">Phosphorous</a>
            <a href="#pot">Potassium</a>
            <a href="#sod">Sodium</a>
            <a href="#cop">Copper</a>
            <a href="#iron">Iron</a>
            <a href="#zinc">Zinc</a>
            <a href="#water">Water</a>
        </div>
    </div>
    <section class="back">
        <div id="left">
            <div class="group">
                <a class="home-icon" href="../index.html"><img src="../images/home.svg" alt="home-icon"></a>
                <a href="#vita">Vitamin A</a>
                <a href="#vitb">Vitamin B</a>
                <a href="#vitc">Vitamin C</a>
                <a href="#vitd">Vitamin D</a>
                <a href="#vite">Vitamin E</a>
                <a href="#vitk">Vitamin K</a>
                <a href="#cal">Calcium</a>
                <a href="#mag">Magnesium</a>
                <a href="#phos">Phosphorous</a>
                <a href="#pot">Potassium</a>
                <a href="#sod">Sodium</a>
                <a href="#cop">Copper</a>
                <a href="#iron">Iron</a>
                <a href="#zinc">Zinc</a>
                <a href="#water">Water</a>
            </div>
        </div>
        <div id="right">
            <div class="content-box">
                <div class="content-heading">
                    <h1>Micronutrients</h1>
                    <img src="images/micro-nutrients.svg" alt="">
                </div>
                <div class="light">
                    <h2>Introduction</h2>
                    <p>
                        Needed in tiny amounts.
                        <br>Not even healthy diet will provide you enough micronutrients. Active people need more than average people.
                        <br>When you don't get the right amount of micronutrients, you not only lack muscle growth but you also put yourself at risk for diseases & infections.
                    </p>
                </div>
                <div id="vita" class="inside-content">
                    <h2>Vitamin A</h2>
                    <p>
                        &rarr; Fat-soluble vitamin needed to maintain eyesight and prevent night blindness.
                        <br>&rarr; Improves immune system, helps with fat storage & protects against cold, flu and some infections.
                        <br>&rarr; Also needed to grow new cells, lower cholesterol & reduce the risk of heart disease. On top of all that Vitamin A slows down the aging process.
                    </p>
                    <div class="dark">
                        <h3>Where to get Vitamin A</h3>
                        <p>
                            <span class="imp">Animal livers and green & yellow vegetables.</span>
                            <br>The type of Vitamin A from animal sources is called preforms and its found in very high level and fatty liver. Vitmain A form plant sources are called proforms. E.g. &zigrarr; a single serving of sweet potatoes, carrots
                            and even pumpkin pie has more than 100 percent of your recommended daily values. Broccoli & leafy greens like spinach also contain a significant amount of Vitamin A.
                        </p>
                    </div>
                    <p class="imp">recommended daily intake &rarr; 900 microgram in men & 700 micrograms per day in women.</p>
                    <div class="dark">
                        <h3>Signs of Vitamin A deficiency</h3>
                        <p>
                            &rarr; night blindness
                            <br>&rarr; scaly skin
                        </p>
                    </div>
                </div>
                <div id="vitb" class="inside-content">
                    <h2>Vitamin B</h2>
                    <p>
                        Vitamin B is actually made up of several B vitamins that work together in the body. This group includes the following:
                        <ul>
                            <li>thiamine (B1)</li>
                            <li>riboflavin (B2)</li>
                            <li>niacin (B3)</li>
                            <li>pantothenic acid (B5)</li>
                            <li>pyridoxine (B6)</li>
                            <li>cyanocobalamin (B12)</li>
                            <li>folic acid</li>
                            <li>biotin</li>
                        </ul>
                        <br>These vitamins are essential for:
                        <ul>
                            <li>Breakdown of carbohydrate into glucose.</li>
                            <li>Breakdown of fats & protein.</li>
                            <li>Muscle tone in the stomach & intestinal tract.</li>
                            <li>Skin, hair, eyes, mouth & liver.</li>
                        </ul>
                        <div class="light">
                            <h3>Where to get Vitamin B</h3>
                            <p>
                                &rarr; Dark green vegetables, grains & meat.
                            </p>
                        </div>
                        <p>Deficiencies can occur even in the general population. specially vegans & pregnant women are at high risk of B12 deficiency.</p>
                    </p>

                </div>
                <div id="vitc" class="inside-content">
                    <h2>Vitamin C</h2>
                    <p>It is a superstar among vitamins.
                        <br> Acts as an antioxidant needed for many metabolic function including new tissue growth & repair.
                        <br>Many diseases are caused by low levels of anti-stress hormones which, Vitamin C helps to produce.
                        <br>It helps wounds and burns & protects against abnormal blood clotting.
                    </p>
                    <div class="light">
                        <h3>Where to get Vitamin C</h3>
                        <p>
                            High levels of vitamin C are found in berries, citrus fruits and green vegetables like broccoli, spinach, brussels sprouts and green peppers.
                            <br>Even some breakfast cereals contains vitamin C. When you eat vitamin C at the same time as iron it will help to absorb more of the iron.
                        </p>
                    </div>
                    <p class="imp">Recommended daily intake &rarr; Men - 90mg and women 75mg. </p>
                    <p>
                        Supplementation make sense when you're sick because it boost your immune system.
                    </p>
                </div>
                <div id="vitd" class="inside-content">
                    <h2>Vitamin D</h2>
                    <p>
                        Fat soluble vitamin need for:
                        <ul>
                            <li>Growth, developmen & maintenance of bones and teeth.</li>
                            <li>Regulating heart beat.</li>
                            <li>Protects against muscle weakness </li>
                        </ul>
                        <br>Body can produce it when skin is exposed to the sun's ultraviolet rays.
                    </p>
                    <div class="light">
                        <h3>Where to get vitamin D</h3>
                        <p>
                            Founds in eggs, dairy products & fish oils. However, the main source should always be sun exposure.
                        </p>
                    </div>
                    <p class="imp">Recommended daily intake &rarr;
                        <br>min 600 IU(international unit) for men & women max 1000-2000 IU.
                    </p>
                </div>
                <div id="vite" class="inside-content">
                    <h2>Vitamin E</h2>
                    <p>
                        Fat soluble with several health benefits.
                        <ul>
                            <li>Effective preservation of foods.</li>
                            <li>Prevention of diseases such as cancer & diabetes.</li>
                            <li>Promotion of a healthy nervous system</li>
                            <li>Protection against heart disease.</li>
                            <li>Protection for eyes.</li>
                        </ul>
                    </p>
                    <div class="light">
                        <h3>Where to get Vitamin E</h3>
                        <p>
                            Almonds, raw seeds, spinach.
                        </p>
                    </div>
                    <p class="imp">Recommended daily intake &rarr;<br>Men 4mg/day; women 3mg/day.</p>
                </div>
                <div id="vitk" class="inside-content">
                    <h2>Vitamin K</h2>
                    <p>
                        Needed for:
                        <ul>
                            <li>blood clotting</li>
                            <li>growing & repairing bones</li>
                            <li>conversion of glucose into glycogen, so our liver can store it.</li>
                        </ul>
                    </p>
                    <div class="light">
                        <h3>Where to get</h3>
                        <p>
                            High levels are found in spinach, broccoli, cauliflower, egg yolk & oatmeal.
                        </p>
                    </div>
                    <p class="imp">Recommended daily intake &rarr; <br>120mcg/day for men; 90mcg/day for women.</p>
                </div>
                <div id="cal" class="inside-content">
                    <h2>Calcium</h2>
                    <p>
                        Comes under macro-minerals(need in fairly large amounts.)
                        <ul>
                            <li>Support muscle function</li>
                            <li>Transmit nerve impulses</li>
                            <li>Helps cells to communicate</li>
                            <li>involved in the release of certain hormones.</li>
                        </ul>
                        The first important macro mineral in our body is Calcium, we have it more than any other mineral.
                        <br>Most of it is stored in our boned & teeth.
                        <br><span class="imp">Source&rarr;</span> High levels are found in yogurt, whey protien supplements, milk, cheese, dark leafy green.
                        <br>Our body use the calcium stored in our bones to maintain normal blood levels if calcium is deficient in our body.
                        <br><span class="imp">
                            Recommended intake &rarr; 
                            <br>1000 mg/day - 1300mg/day for men and women.
                        </span>
                        <br><br>Vegetarians & people with lactose intolerance are at the greatest risk for calcium deficiency.
                    </p>
                </div>
                <div id="mag" class="inside-content">
                    <h2>Magnesium</h2>
                    <p>
                        Involved in many biological processes.
                        <br>Necessay for:
                        <ul>
                            <li>Protein synthesis</li>
                            <li>muscle and nerve function</li>
                            <li>blood glucose control</li>
                            <li>blood pressure regulation</li>
                            <li>energy production.</li>

                        </ul>
                        Like calcium much of our magnesium is stored in the bones.
                        <br><span class="imp">source&rarr;</span> fish and seafood, green vegetables, leafy greens & nuts.
                        <br><span class="imp">
                            Recommended daily intake&rarr;
                            <br>420mg/day for men & 310mg/day for women.
                        </span>
                        <br>Deficiencies can lead to muscle contraction, fatigue, abnormal heart rhythm.
                    </p>
                </div>
                <div id="phos" class="inside-content">
                    <h2>Phosphorous</h2>
                    <p>
                        Found in bones, cell membrane & energy molecules.
                        <br>Used for tissue growth.
                        <br>Regularly lost through sweat and urine.
                        <br> <span class="imp">Source&rarr;;</span> meat, poultry & fish, wheat, potatoes & peanuts.
                        <br><span class="imp">
                           Recommended daily intake&rarr;
                           <br>700mg/day for both men and women.
                       </span>
                        <br>Deficiencies can have a drastic effect on done structure instability.
                        <br>&rarr; Getting too much is more problem than getting too little.
                    </p>
                </div>
                <div id="pot" class="inside-content">
                    <h2>Potassium</h2>
                    <p>
                        Neccassary for:
                        <ul>
                            <li>muscle contraction</li>
                            <li>nerve impulses</li>
                            <li>protein synthesis</li>
                            <li>transferring nutrients through cell membranes</li>
                            <li>breaking down carbs</li>
                            <li>maintianing a regular heart rhythm</li>
                        </ul>
                        <br><span class="imp">Source&rarr;</span> spinach, potatoes, sweet potatoes, yogurt, meat, poultry, fish, nuts, tomatoes, cucumbers, eggplant and carrot.
                        <br><span class="imp">Recommended daily intake&rarr; <br> 4700mg/day for both.</span>
                        <br>Deficiencies include weakness, muscle cramps, fatigue, constipation & abnormal heart rhythms.
                        <br>We lose a lot through excessive sweating, here supplementation can be a solution.
                    </p>
                </div>
                <div id="sod" class="inside-content">
                    <h2>Sodium</h2>
                    <p>
                        It makes half of the sodium chloride which is also known as table salt. It is an electrolyte that plays a role is nerve signaling, muscle contraction, fluid balanced and transferring of nutrients through cell membranes( along with potassium)
                        <br>Excess sodium is peed out & only when you've really taken way to much can develop high blood pressure.
                        <br><span class="imp">Sources&rarr;</span> table salt, meat, fish, cheese, pickles, roasted & salted nuts.
                        <br><span class="imp">
                            Recommended dialy intake&rarr; <br>
                            1500 mg/day both.
                        </span>
                        <br>Watchout for over dosing & not under dosing. Symptoms of over dosing - dehydration, fatigue & confusion.
                    </p>
                </div>
                <div id="cop" class="inside-content">
                    <h2>Copper</h2>
                    <p>
                        Trace minerals which bodies need in small amounts despite there small concertration have very big impacts.
                        <br>Neccassary for:
                        <ul>
                            <li>production and function of red blood cells</li>
                            <li>maintianing blood vessels</li>
                            <li>maintianing nervers</li>
                            <li>maintianing immune system and bones</li>
                        </ul>
                        <br><span class="imp">Source&rarr;</span> oysters & shell fish, potatoes, beans, nuts, liver, kidneys, dark leafy greens & popper.
                        <br><span class="imp">
                            Recommended daily intake&rarr;
                            <br>900 mcg/day both
                        </span>
                        <br>Deficiencies can cause&rarr; anemia and oesteoporosis(bone disease).
                        <br><br>In amounts greater than the upper tolerable limit copper can be highly toxic, causing copper deposits to accumulate in the organs including brain.
                    </p>
                </div>
                <div id="iron" class="inside-content">
                    <h2>Iron</h2>
                    <p>
                        - Important mineral invovled in various bodily functions including the trnasport of oxygen in the blood.
                        <br>- Essential for providing energy for daily life.
                        <br>- Iron is lost form the body through shedding intenstinal cells, sweat and blood loss.
                        <br><span class="imp">Sources&rarr; </span> Chicken, nuts, vegetables, grains and fortified cereals.
                        <br><span class="imp">
                            Recommended daily intake&rarr; 
                            <br>8mg/day for men and 18mg/day for women.
                        </span>
                        <br>Deficiencies Symptoms&rarr; fatigue, impaired mental capicity, impaired mood function, decrease work performance and extreme cases anemia.
                    </p>
                </div>
                <div id="zinc" class="inside-content">
                    <h2>Zinc</h2>
                    <p>
                        Neccassary for&rarr; immune systems, cell division, cell growth, wound healing, breakdown of carbs, sense of smell & taste.
                        <br><span class="imp">Sources&rarr;</span> beef, poultry, oysters, peas, nuts, beans, oatmeal & dairy products.
                        <br><span class="imp">
                            Recommended daily intake&rarr; 
                            <br>11mg/day for men and 8mg/day for women.
                        </span>
                        <br>supplementation can make sense if you have a weak immune system and often suffer from colds.
                    </p>
                </div>
                <div id="water" class="inside-content">
                    <h2>Water</h2>
                    <p>
                        Water intake is vitally important for optimizing your health & performance.
                        <br>Water compress over 60% of your total body weight and every parts of your body requires water.
                    </p>
                    <div class="light">
                        <h3>The truth about water</h3>
                        <p>
                            &rarr;Water is vital part of your body's detoxification system.
                            <br>&rarr;Water is used to digest food and shuttle nutrients into your cells.
                            <br>&rarr;Water is needed to keep your eyes, nose & throat moist.
                            <br>&rarr; Water keeps our joint cartillage lubricated & supple. which is vital for preventing joint health.
                            <br>&rarr; Brain cells require a delicate balance of water & other chemicals to function.
                            <br><br>dehydration will slow your down both mentally & physically
                        </p>
                    </div>
                    <div class="light">
                        <h3>How much water?</h3>
                        <p>
                            Depends upon your weight & activity levels.
                            <br>&rarr; Let thirst be your primary guide - our bodies are actually very good at recognizing dehydration.
                            <br><span class="imp">Guideline:</span> 2.7 litre for women & 3.7 litre for men. If you exercise daily then you should add addtional more than the average person..
                            <br>&rarr; add 1 litre of per hour exercise.
                        </p>
                    </div>
                    <div class="light">
                        <h3>What kind of water should you drink?</h3>
                        <p>
                            Depends upon where you live in the world. Even tap water can be contaminated with pollutants like bacteria and heavy metals.
                            <br>Plastic bottled water also contains chemicals mostly from plastic leaking into the water. Solution&rarr;filtered tap water.
                        </p>
                    </div>
                </div>
                <div class="foot">
                    <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>

                </div>
            </div>
    </section>

    <script src="../script.js"></script>
</body>

</html>