<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Setting up your diet</title>
    <link rel="icon" href="images/diet3.svg" type="image/icon type">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <nav class="navbar">
        <div onclick="openNav()" class="dmenu">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </nav>

    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="close closebtn" onclick="closeNav()">&times;</a>
        <div class="group">
            <a class="home-icon" href="../index.html"><img src="../images/home.svg" alt="home-icon"></a>
            <a href="#optcalint">Optimal calorie intake</a>
            <a href="#trackcal">Track calories correctly</a>
            <a href="#detmacint">Determining Macro intake</a>
            <a href="#detproint">- Determing protein intake</a>
            <a href="#detcarbint">- Determing carb intake</a>
            <a href="#detfatint">- Determing fat intake</a>
            <a href="#abtremcal">- About remaining calorie</a>
            <a href="#mealst">Meal Structure</a>
            <a href="#qualitymacsource">Quality Macronutrient Sources</a>

        </div>
    </div>
    <section class="back">
        <div id="left">
            <div class="group">
                <a class="home-icon" href="../index.html"><img src="../images/home.svg" alt="home-icon"></a>
                <a href="#optcalint">Optimal calorie intake</a>
                <a href="#trackcal">Track calories correctly</a>
                <a href="#detmacint">Determining Macro intake</a>
                <a href="#detproint">- Determing protein intake</a>
                <a href="#detcarbint">- Determing carb intake</a>
                <a href="#detfatint">- Determing fat intake</a>
                <a href="#abtremcal">- About remaining calorie</a>
                <a href="#mealst">Meal Structure</a>
                <a href="#qualitymacsource">Quality Macronutrient Sources</a>
            </div>
        </div>
        <div id="right">
            <div class="content-box">
                <div class="content-heading">
                    <img src="images/diet3.svg" alt="">
                    <h1>Setting Up Your Diet</h1>
                    <img src="images/diet3.svg" alt="">
                </div>
                <div id="optcalint" class="inside-content">
                    <h2>How to determine your optimal calorie intake?</h2>
                    <div class="dark">
                        <p class="imp">
                            TDEE &rarr; Total Daily Energy Expenditure &zigrarr; which is the number of calories that your body burns in one day.
                        </p>
                        <p>
                            It is calculated by estimating how many claories you burn while resting (basal metabolic rate) and adding certain amount of calories on top Depending upon how often you exercise. <br> If you are consuming roughly the same amount
                            of calories as your TDEE you would be in neutral calorie balance.
                            <br> &rarr; More calorie then TDEE &zigrarr; positive calorie balance
                            <br> &rarr; Less calorie then TDEE &zigrarr; negative calorie balance
                        </p>
                    </div>
                </div>
                <div id="trackcal" class="inside-content">
                    <h2>How to track calories correctly?</h2>
                    <p>Research has shown that people who track there calories lose more weight.</p>
                    <div class="dark">
                        <h3>Tracking calories</h3>
                        <p>
                            you will need three things: food, a calorie tracker app and kitchen scale.
                            <br> Here we will discuss how to utilize your scale to accomplish two things:
                            <br>1: Ensuring that your calorie and macro counting is sufficiently accurate.
                            <br>2: Making the overall process easier and less time consuming.
                        </p>
                    </div>
                    <div class="dark">
                        <h3>Tips</h3>
                        <p>
                            &rarr; You don't always have to worry about the small things like 50 calorie less or more, extra salad, ketchup etc.
                            <br>&rarr; Sometimes you only have to weight it once, like one bowl of oat meal and from next time you will know that calorie consumption.
                            <br>&rarr; Raw or Cooked? - cooked rice absorbs alot of water and weighs more than raw.
                        </p>
                    </div>
                </div>
                <div id="detmacint" class="inside-content">
                    <h2>Determining Macro intake</h2>
                    <div id="detproint" class="dark">
                        <h3>Determing protein intake</h3>
                        <p>
                            A 180lb make would choose and average intake of between 145g and 180g of protein per day. <br> Two factor that determine where exactly you are on this range: body fat percentage and activity level.
                            <br>&rarr; the leaner you are meaning the more muscle instead of fat, you have to take more protein same goes with the people who are active.
                        </p>
                    </div>
                    <div id="detcarbint" class="dark">
                        <h3>Determining carb intake</h3>
                        <p class="imp">
                            Ideal carb intake
                            <br>Light worhouts &zigrarr; 1-1.25 per lb.
                            <br>Moderate workouts &zigrarr; 1.25-1.5 per lb.
                            <br>Hard workouts &zigrarr; 1.5-1.75 per lb.
                        </p>
                        <div class="light">
                            <h4>What about rest day?</h4>
                            <p>
                                Your carb intake can be less on rest days because you don't need that much energy.
                            </p>
                        </div>
                    </div>
                    <div id="detfatint" class="dark">
                        <h3>Determining fat intake</h3>
                        <p>
                            At least 15%-20% of your total calories which is good value to shoot for it, to ensure hormone production and general health. <br> For example diet (180lb male) between 390 calories - 520 calories &rarr; 45 grams - 60 grams
                            perday.
                        </p>
                    </div>
                    <div id="abtremcal" class="dark">
                        <h3>What about the remaining calories?</h3>
                        <p>
                            180lb male example diet (Intense workout)
                            <br>
                            <span class="imp">TDEE 2600 calories</span>
                            <br>Protein: 180 * 0.8 = 145 grams of protein (=600 calorie)
                            <br>Fat: 180 * 0.2 = 520 calories (=60 gram)
                            <br>carbs: 180 * 1.5 = 270 grams (1000 calories)
                            <br> 2600 calories - { (600 calories protein) + (520 calories fat) + (1000 calories carbs) } = 500 calories remaining.
                        </p>
                        <div class="light">
                            <h4>How to fill remaining calories?</h4>
                            <p>
                                How you fill your remaining calories is up to you.
                                <br>- eating more protein than recommended, you will not notice any extra muscle growth. Instead go for either additional carbs or fat.
                                <h5>Carbs or fat are usually the best option</h5>
                                <p>
                                    If you are healthy adult that lives active lifestyle and your body has no problems in digesting carbs than there is no limit to your daily carbs as long as they come from quality sources such as brown rice, sweet potato.
                                    <br> The extra carbs will also give you additional energy which is great for your workouts.
                                    <br> If however, you're overweight and not very active or your body simply can't handle high amounts of carbs than fat will be a better option here because it is easily digested by our bodies.
                                </p>
                            </p>
                        </div>
                    </div>
                </div>
                <div id="mealst" class="inside-content">
                    <h2>Meal Structure</h2>
                    <p>It refers to how your diet is setuped taking into consideration the four following variables.
                        <br>1- Number of meals
                        <br>2- Protein intake around activity
                        <br>3- Carb intake aroud activity
                        <br>4- Fat intake around activity

                    </p>
                    <div class="light">
                        <h3>Sample diet for 180 pound man</h3>
                        <p>
                            Meal 1 &zigrarr; 25g P, 48g C, 12g F
                            <br>Meal 2 &zigrarr; 25g p, 48g C , 12g F
                            <br>Meal 3 (pre-workout)&zigrarr; 35g p, 55g C , 12g F
                            <br>Meal 4 (post-workout)&zigrarr; 35g p, 70g C , 12g F
                            <br>Meal 5 &zigrarr; 25g p, 48g C , 12g F
                        </p>
                    </div>
                    <p>
                        Fat time should be the least of your concerns since it really doesn't matter, the only time it can have negative impact is right before your workout as it slows down the digestion of good carbs and protein.
                        <br> Now there are additional calories need to reach the TDEE of 2600 which should be either fat or carbs, feels free to add them to any meal you like.
                    </p>
                </div>
                <div id="qualitymacsource" class="inside-content">
                    <h2>Quality Macronutrient Sources</h2>
                    <div class="dark">
                        <h3>Protein Sources</h3>
                        <div class="source-container">
                            <div class="sources light">
                                <h4>Dairy & Eggs</h4>
                                <div class="persource">
                                    <p>Greek yogurt</p>
                                    <img src="images/yogurt.svg" alt="">
                                </div>
                                <div class="persource">
                                    <p>Cottage cheese</p>
                                    <img src="images/cheese.svg" alt="">
                                </div>
                                <div class="persource">
                                    <p>Swiss cheese</p>
                                    <img src="images/cheese2.svg" alt="">
                                </div>
                                <div class="persource">
                                    <p>Eggs</p>
                                    <img src="images/egg.svg" alt="">
                                </div>
                                <div class="persource">
                                    <p>Milk</p>
                                    <img src="images/milk-box.svg" alt="">
                                </div>
                                <div class="persource">
                                    <p>Whey protein</p>
                                    <img src="images/whey.svg" alt="">
                                </div>

                            </div>
                            <div class="sources light">
                                <h4>High-Protein Meat</h4>
                                <div class="persource">
                                    <p>Lean cut steak</p>
                                    <img src="images/steak.svg" alt="">
                                </div>
                                <div class="persource">
                                    <p>Ground beef</p>
                                    <img src="images/gbeef.png" alt="">
                                </div>
                                <div class="persource">
                                    <p>Pork chops</p>
                                    <img src="images/chop.svg" alt="">
                                </div>
                                <div class="persource">
                                    <p>chicken breast</p>
                                    <img src="images/chicken-breast.svg" alt="">
                                </div>
                                <div class="persource">
                                    <p>Turkey Breast</p>
                                    <img src="images/turkey.svg" alt="">
                                </div>

                            </div>
                            <div class="sources light">
                                <h4>High-Protein Seafood</h4>
                                <div class="persource">
                                    <p>Tuna</p>
                                    <img src="images/tuna.svg" alt="">
                                </div>
                                <div class="persource">
                                    <p>Halibut</p>
                                    <img src="images/halibut-fish-shape.svg" alt="">
                                </div>
                                <div class="persource">
                                    <p>Salmon</p>
                                    <img src="images/salmon.svg" alt="">
                                </div>
                                <div class="persource">
                                    <p>Tilapia</p>
                                    <img src="images/fish.svg" alt="">
                                </div>
                            </div>
                            <div class="sources light">
                                <h4>High-Protein Canned foods</h4>
                                <div class="persource">
                                    <p>Anchovies</p>
                                    <img src="images/canned-food.svg" alt="">
                                </div>
                                <div class="persource">
                                    <p>Corned beef</p>
                                    <img src="images/canned-food2.svg" alt="">
                                </div>
                                <div class="persource">
                                    <p>Sardines</p>
                                    <img src="images/sardine.svg" alt="">
                                </div>
                                <div class="persource">
                                    <p>Beans</p>
                                    <img src="images/red-bean-soup.svg" alt="">
                                </div>
                            </div>
                            <div class="sources light">
                                <h4>High-Protein Snacks</h4>
                                <div class="persource">
                                    <p>Jerky</p>
                                    <img src="images/jerky-treats.svg" alt="">
                                </div>
                                <div class="persource">
                                    <p>Peanut butter</p>
                                    <img src="images/peanut-butter.svg" alt="">
                                </div>
                                <div class="persource">
                                    <p>Nuts</p>
                                    <img src="images/nuts.svg" alt="">
                                </div>

                            </div>
                            <div class="sources light">
                                <h4>Vegetarian & Vegan Sources</h4>
                                <div class="persource">
                                    <p>Beans</p>
                                    <img src="images/beans2.svg" alt="">
                                </div>
                                <div class="persource">
                                    <p>Chickpeas</p>
                                    <img src="images/chickpea.svg" alt="">
                                </div>
                                <div class="persource">
                                    <p>Nuts & nut butters</p>
                                    <img src="images/peanut.svg" alt="">
                                </div>
                                <div class="persource">
                                    <p>Tofu</p>
                                    <img src="images/tofu.svg" alt="">
                                </div>
                                <div class="persource">
                                    <p>Chia seeds</p>
                                    <img src="images/chia.svg" alt="">
                                </div>
                                <div class="persource">
                                    <p>Leafy greens</p>
                                    <img src="images/salad.svg" alt="">
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="dark">
                        <h3>Quality Carb Sources</h3>
                        <p>
                            The best sources are unprocessed whole foods like fresh fruit, legumes, whole grains and many vegetables. <br> These foods also contains fiber vitamins minerals and anti-oxidants.

                        </p>
                        <div class="source-container">
                            <div class="sources light">
                                <h4>High Carbs Whole foods</h4>
                                <div class="persource">
                                    <p>Whole grain bread</p>
                                    <img src="images/bread.svg" alt="">
                                </div>
                                <div class="persource">
                                    <p>Whole grain pasta</p>
                                    <img src="images/pasta.svg" alt="">
                                </div>
                                <div class="persource">
                                    <p>Whole grain cereal</p>
                                    <img src="images/cereal.svg" alt="">
                                </div>
                            </div>
                            <div class="sources light">
                                <h4>Fruits</h4>
                                <div class="persource">
                                    <p>Bananas</p>
                                    <img src="images/banana.svg" alt="">
                                </div>
                                <div class="persource">
                                    <p>Mango</p>
                                    <img src="images/mango.svg" alt="">
                                </div>
                                <div class="persource">
                                    <p>Apple</p>
                                    <img src="images/apple.svg" alt="">
                                </div>
                                <div class="persource">
                                    <p>Orange</p>
                                    <img src="images/orange-juice.svg" alt="">
                                </div>
                                <div class="persource">
                                    <p>Pear</p>
                                    <img src="images/pear.svg" alt="">
                                </div>
                            </div>
                            <div class="sources light">
                                <h4>Legumes</h4>
                                <div class="persource">
                                    <p>Beans</p>
                                    <img src="images/beans2.svg" alt="">
                                </div>
                                <div class="persource">
                                    <p>Peas</p>
                                    <img src="images/chickpea.svg" alt="">
                                </div>
                                <div class="persource">
                                    <p>Lentils</p>
                                    <img src="images/lentils.svg" alt="">
                                </div>

                            </div>
                            <div class="sources light">
                                <h4>Other Souces</h4>
                                <div class="persource">
                                    <p>(Sweet) Potatoes</p>
                                    <img src="images/sweet-potato.svg" alt="">
                                </div>
                                <div class="persource">
                                    <p>(Brown) Rice</p>
                                    <img src="images/brown-rice.svg" alt="">
                                </div>
                                <div class="persource">
                                    <p>Quinoa</p>
                                    <img src="images/quinoa.svg" alt="">
                                </div>
                                <div class="persource">
                                    <p>Oat meal</p>
                                    <img src="images/oat.svg" alt="">
                                </div>
                                <div class="persource">
                                    <p>Tortillas</p>
                                    <img src="images/tortillas.svg" alt="">
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="dark">
                        <h3>Quality Fat Sources</h3>
                        <div class="source-container">
                            <div class="sources light">
                                <h4>Sources of Unsaturated Fats</h4>
                                <div class="persource">
                                    <p>Avocados</p>
                                    <img src="images/avocado.svg" alt="">
                                </div>
                                <div class="persource">
                                    <p>Salmon</p>
                                    <img src="images/salmon.svg" alt="">
                                </div>
                                <div class="persource">
                                    <p>Olives & olive oils</p>
                                    <img src="images/olive-oil.svg" alt="">
                                </div>
                                <div class="persource">
                                    <p>Nuts and nut butters</p>
                                    <img src="images/nuts.svg" alt="">
                                </div>
                                <div class="persource">
                                    <p>Flax seed</p>
                                    <img src="images/flax-seed.svg" alt="">
                                </div>
                                <div class="persource">
                                    <p>Tuna</p>
                                    <img src="images/tuna.svg" alt="">
                                </div>
                                <div class="persource">
                                    <p>Dark chocolate</p>
                                    <img src="images/dark-chocolate.svg" alt="">
                                </div>
                                <div class="persource">
                                    <p>Sunflower seeds</p>
                                    <img src="images/sunflower.svg" alt="">
                                </div>
                            </div>
                            <div class="sources light">
                                <h4>Sources of Saturated Healthy Fats</h4>
                                <div class="persource">
                                    <p>Whole eggs</p>
                                    <img src="images/fried-egg.svg" alt="">
                                </div>
                                <div class="persource">
                                    <p>High quality meat</p>
                                    <img src="images/steak.svg" alt="">
                                </div>
                                <div class="persource">
                                    <p>Full fat milk</p>
                                    <img src="images/milk-box.svg" alt="">
                                </div>
                                <div class="persource">
                                    <p>Chicken breast</p>
                                    <img src="images/chicken-breast.svg" alt="">
                                </div>
                            </div>
                            <div class="sources light">
                                <h4 style="color: rgb(235, 61, 61);">Fat To Avoid</h4>
                                <div class="persource">
                                    <p>Pizza</p>
                                    <img src="images/pizza.svg" alt="">
                                </div>
                                <div class="persource">
                                    <p>Hot dogs</p>
                                    <img src="images/hot-dog.svg" alt="">
                                </div>
                                <div class="persource">
                                    <p>Hamburgers</p>
                                    <img src="images/hamburger.svg" alt="">
                                </div>
                                <div class="persource">
                                    <p>Any type of fried or fast food</p>
                                    <img src="images/fast-food.svg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="foot">
                    <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
                    <div>
                        <a target="_blank" href="https://icons8.com/icons/set/ground-beef">Ground Beef icon</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <script src="../script.js"></script>
</body>

</html>